.square {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    /* center vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.white {
    background-color: white;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}
